<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	</head>
	<body>
		<div th:fragment="judgment">
			 <div id="ModalJudgment" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;" data-backdrop="static" data-keyboard="false">
			    <div class="modal-dialog modal-dialog-centered modal-lg">
			        <div class="modal-content">
			            <div class="modal-header">
			                <h4 class="modal-title">Fallo</h4>
			                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			            </div>
			            <div class="modal-body">
			                <div class="row">
			                    <div class="col-md-12">                        
				                    <form id="JudgmentForm" class="m-t-25">
				                    	<div class="row">
				                    		<div class="col-md-1"></div>
				                    		<div class="col-md-10">
				                    			<div class="row">
                   									<div class="col-md-3 text-right mb-2">
                   										<label for="closeDate" class="control-label mt-2">Fecha en que finaliza el evento</label>
                   									</div>
                   									<div class="col-md-3">
                   										<input 
                   											id="closeDate" 
                   											name="closeDate" 
                   											type="text" 
                   											class="form-control"
                   											data-parsley-required="true"
			                                    			data-parsley-required-message="Debe seleccionar una fecha"  
                   										/>
                   									</div>
                   									<div class="col-md-6">
                   										<input id="closeDateText" name="closeDateText" type="text" class="form-control" readonly="readonly" />
                   									</div>
                   								</div>
                   								<div class="row">
                   									<div class="col-md-3 text-right mb-2">
                   										<label for="closeHour" class="control-label mt-2">Hora en que finaliza el evento</label>
                   									</div>
                   									<div class="col-md-3">
                   										<input 
                   											id="closeHour" 
                   											name="closeHour" 
                   											type="text" 
                   											class="form-control"
                   											data-parsley-required="true"
			                                    			data-parsley-required-message="Debe seleccionar una hora" 
                   										/>
                   									</div>
                   									<div class="col-md-6">
                   										<input id="closeHourText" name="closeHourText" type="text" class="form-control" readonly="readonly" />                   										
                   									</div>
                   								</div>
					                            <hr/>
					                            <div class="row">
			                                    	<div class="offset-md-9 col-md-3">
			                                    		<button type="submit" class="btn btn-primary waves-effect waves-light btn-block">
			                                    			<span class="fas fa-save"></span> Guardar
			                                    		</button>
			                                    	</div>
			                                    </div>   
				                    		</div>
				                    		<div class="col-md-1"></div>
				                    	</div>	   
				                    </form>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</body>
</html>

